<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  

  </head>
  <body>                 

	<div id="container">
        <div class="title">
            <h1>Postcode Selection</h1>
        </div>
     
</br>
         <div id="postcode">
     
            <form method="post" action="{{ url_for('postcode') }}">
              <label for="postcode_id1">Enter Postcode (AB12):</label>
              <input type="text" name="postcode_id1" /><br />  
              <label for="postcode_id2">Enter Postcode (3CD):</label>
              <input type="text" name="postcode_id2" /><br />
              <input type="submit" />
            </form>
        </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  </body>
</html>
